.ui-channelbar.fixed {
    position: fixed;
    top: 0;
    width: 110px;   /* FIXME magic number */
    z-index: 1;
}

.ui-channelbar .button {
    background: #eee;
    border: 1px solid #AAA;
    cursor: pointer;
    overflow: hidden;
    padding: 2px;
    text-overflow: ellipsis;
}

.ui-channelbar .button + .button {
    border-top: 0 none;
}

    .ui-channelbar .closed {
        color: #aaa;
    }

.ui-channelbar .button > .unread {
    color: #337;
    float: right;
    font-weight: bold;
    font-size: 0.8em;
}

.window nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
.window:hover nav {
    display: block;
}

@media only screen and (max-width: 480px) {
    .window.hidden {
        display: block;
        padding-bottom: 0;
        visibility: visible;
    }
    .window.hidden > * { display: none; }
    .window.hidden > header { display: block; }
    .window.hidden > header .toggleVisibility { content: "show"; display: none; }
    .ui-channelbar  { display: none; }

}
