body {
    color: #222;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}

.hidden { display: none; visibility: hidden; }

.shadow {
     -moz-box-shadow: 0 0.1em 1em #333;
  -webkit-box-shadow: 0 0.1em 1em #333;
          box-shadow: 0 0.1em 1em #333;
}

/* #connect form */
#connect {
    background: #EFE;
    border-bottom: medium solid #8C8;
    padding: 0.4em 0;
    text-align: center;
    white-space: nowrap;
}

    #connect label:after {
        content: ":";
        margin-right: 0.25em;
    }
    #connect input[type=text] {
        border: 0;
    }
    #connect input[required] {
        border-bottom: thin solid blue;
    }
    #connect-nick {
        width: 10em;
    }
    #connect-port {
        width: 4em;
    }

.channel {
    position: relative;
    margin: 1em auto;
    width: 800px;
}
    .channel-name {
        display: inline;
        font-size: 1.2em;
        font-weight: bold;
    }

    .topic {
        display: inline;
        margin-left: 1em;
    }

    .content {
        background: #eee;
        border: 1px solid #ccc;
        max-height: 10em;
        overflow-y: auto;
    }
    .channel input[type=text] { width: 763px; }
    .channel input[type=submit] { width: 33px; }

    aside {
        float: right;
        min-height: 50px;
        max-height: 10em;
        overflow-y: auto;
        width: 100px;
    }

    #status textarea {
        width: 798px;
    }
    #status > footer { text-align: right; }
        #status input[type=text] { float: left; }


/* GENERAL STYLES FOR IRC EVENTS, TYPES */
time { color: #555; margin-right: 0.5em; }
time:before { content: "["; }
time:after { content: "]"; }
.nick { font-weight: bold; }
.message { margin-left: 0.5em; }

.join { color: #0A0; font-size: 0.9em; }
.part { color: #00A; font-size: 0.9em; }
.privmsg { }
    .privmsg > .nick:before { content: "<"; }
    .privmsg > .nick:after { content: ">"; }
.quit { color: #0AA;  font-size: 0.9em; }

